$board-border: 1.2vw;
$board-border-radius: 1.5vw;

$firm-brown: #4b371c;
$firm-light-green: #139404;
$firm-dark-green: #0a4804;
$firm-light-red: #ff0000;
$firm-dark-red: #820202;

$cell-colors: (
  2: #ffff80,
  4: #feff4e,
  8: #fcfd00,
  16: #ffd589,
  32: #ffbc42,
  64: #ffb122,
  128: #f9a200,
  256: #f69697,
  512: #ff2c2c,
  1024: #f01e2c,
  2048: #c30010
);
